<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @treatment.name %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @treatment.dosage %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @treatment.schedule %>
</p>

<p>
  <strong>Time:</strong>
  <%= @treatment.time %>
</p>

<p>
  <strong>User:</strong>
  <%= @treatment.user %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @treatment.doctor %>
</p>

<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
