<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @diagnosis.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @diagnosis.type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @diagnosis.location %>
</p>

<p>
  <strong>Stage:</strong>
  <%= @diagnosis.stage %>
</p>

<p>
  <strong>User:</strong>
  <%= @diagnosis.user %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @diagnosis.doctor %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis) %> |
<%= link_to 'Back', diagnoses_path %>
